<body ng-app='homepage'>
    <script type='text/javascript' src='/js/app.js'></script>
    <div ng-controller='homepageController as homepage'>

        <div id='formName'>{{homepage.name}}</div>
        
        <form id='gameForm' ng-submit='homepage.createGame()'>
            <input type='text' size='50' id='game_field' ng-model='homepage.name'> </input>
            <input type='submit'></input>
        </form>
        <button ng-click='homepage.updateAll()'>Update All</button>

        <li ng-repeat='game in homepage.games' class='game' id='{{game.id}}' ng-click='homepage.joinGame(game.id)'>
            NAME: {{game.name}}     STATUS: {{game.status}}
        </li>

    </div>
</body>